### Importing the necessary libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Downloading Data from given URLs - 'green taxi trips' and 'zones' datasets

In [2]:
# terminal command to download green trip gz file into local directory

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

--2024-03-06 03:21:44--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T032144Z&X-Amz-Expires=300&X-Amz-Signature=584c735adfb0cb7e61af06ed6c6f0ac261c5db21ce40fd7322cf3ea8e09f7c9f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-06 03:21:44--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/b5af7693-2f26-4bd5-8854-75edeb650bae?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240306T032144Z&X-Amz-Expires=300&X-Amz-Signature=584c735adfb0cb7e61af06ed6c6f0ac261c5db21ce40fd7322cf3ea8e09f7c9f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-09.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7854533 (7.5M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-09.csv.gz’

green_tripdata_2019 100%[===================>]   7.49M  --.-KB/s    in 0.03s

2024-03-06 03:21:45 (232 MB/s) - ‘green_tripdata_2019-09.csv.gz’ saved [7854533/7854533]

In [3]:
# now to run a command to unzip the compressed csv folder into the current working directory

! gunzip green_tripdata_2019-09.csv.gz

In [4]:
# terminal command to download the zones dataset from s3

!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-06 03:21:47--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.139.40, 52.217.96.190, 52.216.131.45, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.139.40|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  56.0KB/s    in 0.2s

2024-03-06 03:21:49 (56.0 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

### Loading the downloaded datasets into dataframes

In [5]:
green_taxi_df = pd.read_csv('green_tripdata_2019-09.csv')

green_taxi_df.head()

/tmp/ipykernel_12215/1307892067.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  green_taxi_df = pd.read_csv('green_tripdata_2019-09.csv')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [6]:
zones_df = pd.read_csv('taxi+_zone_lookup.csv')

zones_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

### Now to load the dataframes into postgres - remember to start the containers for postges and pgadmin

In [7]:
# initialising an engine object and passing the database connection string as an argument

engine = create_engine(f"postgresql://root:root@localhost:5432/ny_taxi")

In [8]:
connection = engine.connect()

In [9]:
# now that we have established connection, we can send the dataframes to postgres

green_taxi_df.to_sql(name='green_taxi_data', con=connection, if_exists="append", index=False)

zones_df.to_sql(name='taxi_zones_data', con=connection, if_exists="append", index=False)

265